<div fxLayout="row">
  <mat-card class="register-form">
    <mat-card-title>Изменение пароля</mat-card-title>
    <mat-card-content>
      <form
        #f="ngForm"
        fxLayout="column"
        autocomplete="off"
        (ngSubmit)="onSubmit()"
        [appIdentical]="['password', 'repeatPassword']"
      >
        <mat-form-field appearance="outline">
          <mat-label>Введите новый пароль</mat-label>
          <input
            appPassword
            type="password"
            name="password"
            autocomplete="new-password"
            required
            matInput
            ngModel
            #password="ngModel"
            minlength="8"
          />
          <mat-error
            *ngIf="password.touched && password.hasError('required')"
          >Поле пароль обязательное!
          </mat-error>
          <mat-error *ngIf="password.touched && password.hasError('minlength')">
            Пароль должен состоять минимум из 8 символов.
          </mat-error>
          <mat-error *ngIf="password.touched && password.hasError('password') && password.value.length >= 8" [ngStyle]="{'font-size.px': 10}">
            Пароль должен содержать: буквы нижнего и верхнего регистра, цифры и символы (#?!@$%^&*-).
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Повторите ваш пароль</mat-label>
          <input
            appPassword
            type="password"
            name="repeatPassword"
            autocomplete="new-password"
            required
            matInput
            ngModel
            #repeatPassword="ngModel"
          />
          <mat-error
            *ngIf="repeatPassword.touched && repeatPassword.hasError('required')"
          >Поле пароль обязательное!
          </mat-error>
          <mat-error
            *ngIf="repeatPassword.touched && f.errors?.['identical']"
          >Пароли должны совпадать!
          </mat-error>
        </mat-form-field>

        <ng-template #btn>
          <button
            type="submit"
            mat-raised-button
            [disabled]="f.invalid"
          >Сохранить
          </button>
        </ng-template>
        <mat-progress-bar mode="indeterminate" *ngIf="(loading | async) else btn"></mat-progress-bar>

      </form>
    </mat-card-content>
  </mat-card>
</div>
