<h1 class="cards-title">{{ title }}</h1>
<mat-tab-group mat-align-tabs="start" class="courses-block">
  <mat-tab label="ПОПУЛЯРНЫЕ КУРСЫ">
    <div class="cards-block">
    <div fxLayout="row wrap" *ngIf="courses" class="courses">
      <div *ngFor="let course of popularCourses | orderBy:'-rate'">
        <app-course-card [course]="course" [is_free]="is_free"></app-course-card>
      </div>
    </div>
    </div>
  </mat-tab>
  <mat-tab label="НОВЫЕ КУРСЫ">
    <div fxLayout="row wrap" *ngIf="courses" class="courses">
      <div *ngFor="let course of newCourses | orderBy:'-rate'">
        <app-course-card [course]="course" [is_free]="is_free"></app-course-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<ng-container [ngSwitch]="is_free">
  <div class="btn-area" *ngSwitchCase="true">
    <button mat-raised-button class="btn" [routerLink]="['all-free-courses']">
      ПОСМОТРЕТЬ ВСЕ КУРСЫ
      <span class="material-icons ic_right">arrow_forward</span>
    </button>
  </div>
  <div class="btn-area" *ngSwitchCase="false">
    <button mat-raised-button class="btn" [routerLink]="['all-paid-courses']">
      ПОСМОТРЕТЬ ВСЕ КУРСЫ
      <span class="material-icons ic_right">arrow_forward</span>
    </button>
  </div>
</ng-container>
