<div class="main-auth-div" fxLayout="row">
  <div fxFlex="40%" class="form-container" fxLayout="column" fxLayoutAlign="center start">
    <div class="content-area">
      <div style="margin-bottom: 30px">
        <img src="./assets/icons/pinkLogo.png" alt="Логотип Билем">
      </div>
      <p class="greyDarkText title">{{ title }}</p>
      <div>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  <div fxFlex="60%" fxLayoutAlign="center center">
    <p>
      <img src="./assets/icons/abstractImage.png" alt="Абстрактная картинка">
    </p>
  </div>
</div>
