.main-auth-div {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.form-container {
  background-color: #F6F6F6;
  padding: 0 50px 0 50px;
  height: 100vh;
  margin: 0;
}

.title {
  font-size: 62px;
  font-weight: 700;
  line-height: 93px;
}



