<div class="nav">
  <div class="sidebar_icon">
    <span class="material-icons school">school</span>
  </div>
  <a mat-button routerLink="new" class="addBtn" fxLayoutAlign="center center">
    <span class="material-icons">add</span>
    Новый курс
  </a>
  <mat-nav-list  role="navigation">
    <a mat-list-item routerLink="myCourses">
        <span class="material-icons mat-list-icon">
          cast_for_education
        </span>
      Мое обучение
    </a>
    <a mat-list-item routerLink="courses">
        <span class="material-icons mat-list-icon">
          menu_book
        </span>
      Курсы
    </a>
    <a mat-list-item routerLink="lessons">
        <span class="material-icons mat-list-icon">
          school
        </span>
      Уроки
    </a>
    <a mat-list-item routerLink="notifications">
        <span class="material-icons mat-list-icon">
          notifications_active
        </span>
      Уведомления
    </a>
  </mat-nav-list>
</div>
