<div class="main">
  <app-sidebar class="nav">
    <div class="sidebarTitle">
      <img class="img" [src]="urlImg | imageForCourse" alt="course image">
      <h2>
        <p class="text">Курс: {{ courseInfo?.title }}</p>
      </h2>
    </div>

    <mat-nav-list  role="navigation">
      <a mat-list-item [routerLink]="['/syllabus/program/', courseInfo?._id]">
        <span class="material-icons mat-list-icon">
          menu_book
        </span>
        Содержание
      </a>
    </mat-nav-list>
  </app-sidebar>

  <div class="programContent">
    <h2>Программа курса</h2>

    <button *ngIf="!text" mat-raised-button class="editBtn"
            [routerLink]="['/editModule/', courseInfo?._id]">Редактировать содержание</button>
    <div *ngIf="text">
      <button *ngIf="text" mat-raised-button class="editBtn"
              [routerLink]="['/editModule/', courseInfo?._id]">
        На данном курсе нет модулей.<br>Хотите добавить?</button>
    </div>

    <div class="cards" *ngFor="let module of courseInfo?.modules; let i = index">
      <a>
        <div fxLayout="row" fxLayoutAlign="space-between" class="card">
          <div fxLayout="column" fxLayoutAlign="space-between" >
            <div class="title-course">
              <h2>
                {{ i + 1 }}. {{ module.title }}
              </h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, harum?</p>
            </div>
          </div>
        </div>
        <div class="lessonTitle">
          <div  *ngFor="let lesson of module.lessons; let index = index" class="lessonText"
                fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/icons/bilem.svg" class="imgModule" alt="lesson-icon">
            <p >{{ i + 1 }}.{{ index + 1 }}.  {{ lesson.title }}</p>
            <a [routerLink]="[ '/edit-lesson/', courseInfo?._id, lesson._id]" mat-stroked-button
               class="lessonEditBtn">
              <span class="material-icons">edit</span>
            </a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

