.titles {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
  margin-bottom: 32px;
}

@media screen and (max-width: 905px) {
  .titles {
    font-size: 32px;
  }
}

.main-div {
  width: 100%;
  padding: 0 20px;
}

.statisticsCard {
  background: #6B0D24;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  color: #FFFFFF;
  text-align: center;
  padding: 40px 20px;
}

.numbers {
  font-size: 30px;
}

