<div>
  <div class="error" *ngIf="fetchLessonDataError | async">{{ fetchLessonDataError | async}}</div>
  <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 40px">
    <mat-card class="form-card" fxFlex="70">
      <mat-card-title style="text-align: center">Редактирование урока</mat-card-title>

      <mat-progress-spinner
        class="main-spinner"
        *ngIf="(fetchLessonDataLoading | async) else editArea"
        mode="indeterminate"
        style="margin: 20px auto"
      ></mat-progress-spinner>

      <ng-template #editArea>
      <mat-card-content>
        <form
          #f="ngForm"
          fxLayout="column"
          autocomplete="off"
          style="margin-top: 20px"
          (ngSubmit)="editLesson()"
        >
          <div class="error" *ngIf="error | async">{{ error | async}}</div>
          <mat-form-field appearance="outline">
            <mat-label>Название урока</mat-label>
            <input type="text" name="title" required matInput ngModel #title="ngModel"/>
            <mat-error *ngIf="title.touched && title.hasError('required')">
              Данное поле является обязательным!
            </mat-error>
          </mat-form-field>

          <div class="NgxEditor__Wrapper">
            <angular-editor
              #description="ngModel"
              [placeholder]="'Добавьте описание...'"
              [(ngModel)]="htmlContent"
              name="description"
              [required]="!f.value.video"
              [config]="config"
            ></angular-editor>
            <mat-error *ngIf="description.touched && description.hasError('required')">
              Данное поле является обязательным!
            </mat-error>
          </div>
          <div id="htmlDiv" style="display:none;" class="html" [innerHTML]="htmlContent"></div>

          <mat-form-field appearance="outline">
            <mat-label>Ссылка на видео</mat-label>
            <input
              type="text"
              name="video"
              [required]="!f.value.description"
              matInput
              ngModel
              #video="ngModel"
            />
            <mat-error *ngIf="video.touched && video.hasError('required')">
              Данное поле является обязательным!
            </mat-error>
          </mat-form-field>
          <ng-template #btn>
          <button
            type="submit"
            mat-raised-button
            class="main-color-back"
            [disabled]="f.invalid || (loading | async)"
          >
            Сохранить изменения
          </button>
          </ng-template>
          <mat-progress-bar mode="indeterminate" *ngIf="(loading | async) else btn"></mat-progress-bar>
        </form>
      </mat-card-content>
      </ng-template>
    </mat-card>
  </div>
</div>





