<section>
  <div class="image">
    <img src="assets/icons/bilem.svg" alt="main-icon">
  </div>

  <div class="content">
    <h2>О проекте</h2>
    <span></span>
    <p>Много много много много много Много много много много много Много много много много много Много много много
      много много Много много много много много какой-то информации</p>
    <ul class="links">
      <li><a routerLink="/team" target="_blank">Разработка</a></li>
      <div class="vertical-line"></div>
      <li><a routerLink="/help" target="_blank">Помощь</a></li>
      <div class="vertical-line"></div>
      <li><a routerLink="/contacts" target="_blank">Контакты</a></li>
    </ul>
  </div>
</section>
