<app-centered-card title="Регистрация">
  <form
    #f="ngForm"
    fxLayout="column"
    autocomplete="off"
    [appIdentical]="['password', 'passwordRepeat']"
    style="margin-top: 20px"
    (ngSubmit)="register()"
  >
    <div *ngIf="error | async" class="error">
      {{ (error | async)?.errors }}
    </div>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input
        type="email" name="email" autocomplete="username"
        email required matInput ngModel #email="ngModel"
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Введите ваш почтовый адрес.
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Пожалуйста, введите корректный адрес.
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('serverError')">
        {{ email.getError('serverError') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Имя</mat-label>
      <input
        type="text" name="displayName" autocomplete="displayName"
        required matInput ngModel #displayName="ngModel"
      />
      <mat-error *ngIf="displayName.touched && displayName.hasError('required')">
        Введите ваше имя.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Пароль</mat-label>
      <input
        type="password" name="password" id="password" autocomplete="new-password"
        required matInput ngModel appPassword minlength="8" #password="ngModel"
      />
      <mat-error *ngIf="password.touched && password.hasError('required')">
        Введите пароль.
      </mat-error>
      <mat-error *ngIf="password.touched && password.hasError('minlength')">
        Пароль должен состоять минимум из 8 символов.
      </mat-error>
      <mat-error *ngIf="password.touched && password.hasError('password') && password.value.length >= 8" [ngStyle]="{'font-size.px': 10}">
        Пароль должен содержать: буквы нижнего и верхнего регистра, цифры и символы (#?!@$%^&*-).
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Повтор пароля</mat-label>
      <input
        type="password" name="passwordRepeat" id="passwordRepeat" required matInput ngModel
        appPassword #passwordRepeat="ngModel"
      />
      <mat-error *ngIf="passwordRepeat.touched && passwordRepeat.hasError('required') || f.hasError('identical')">
        Пароли не совпадают, попробуйте еще раз.
      </mat-error>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      style="font-size: 18px"
      [disabled]="f.invalid"
    >
      Зарегестрироваться
    </button>
  </form>
</app-centered-card>
