<app-auth-forms title="Регистрация">
  <p class="authText greyDarkText">Добро пожаловать!</p>
  <form
    #f="ngForm"
    fxLayout="column"
    autocomplete="off"
    [appIdentical]="['password', 'passwordRepeat']"
    (ngSubmit)="register()"
  >
    <mat-form-field appearance="outline" hideRequiredMarker="true" class="authFormsInputText">
      <mat-label>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="e-mailDiv">
          <span class="material-icons">alternate_email</span>
          <span>e-mail</span>
        </div>
      </mat-label>
      <input
        type="email" name="email" autocomplete="username"
        email required matInput ngModel #email="ngModel"
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Введите ваш почтовый адрес.
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Пожалуйста, введите корректный адрес.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" hideRequiredMarker="true" class="authFormsInputText">
      <mat-label>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="displayNameDiv">
          <span class="material-icons">person_outline</span>
          <span>Имя</span>
        </div>
      </mat-label>
      <input
        type="text" name="displayName" autocomplete="displayName"
        required matInput ngModel #displayName="ngModel"
      />
      <mat-error *ngIf="displayName.touched && displayName.hasError('required')">
        Введите ваше имя.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" hideRequiredMarker="true" class="authFormsInputText">
      <mat-label>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="passwordDiv">
          <span class="material-icons">lock</span>
          <span>Пароль</span>
        </div>
      </mat-label>
      <input
        type="password" name="password" autocomplete="current-password"
        required matInput ngModel minlength="8" #password="ngModel"
      />
      <mat-error *ngIf="password.touched && password.hasError('required')">
        Введите пароль.
      </mat-error>
      <mat-error *ngIf="password.touched && password.hasError('minlength')">
        Пароль должен содержать минимум 8 символов.
      </mat-error>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      hideRequiredMarker="true"
      class="authFormsInputText"
    >
      <mat-label>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="passwordRepeatDiv">
          <span class="material-icons">lock</span>
          <span>Повтор пароля</span>
        </div>
      </mat-label>
      <input
        type="password" name="passwordRepeat" id="passwordRepeat" required matInput ngModel
        appPassword #passwordRepeat="ngModel"
      />
      <mat-error *ngIf="passwordRepeat.touched && passwordRepeat.hasError('required') || f.hasError('identical')">
        Пароли не совпадают, попробуйте еще раз.
      </mat-error>
    </mat-form-field>
    <div class="authLightGreyTextDiv">
      <mat-checkbox name="check" ngModel>Запомнить меня</mat-checkbox>
    </div>
    <button
      type="submit"
      mat-raised-button
      class="authBtn"
      [disabled]="f.invalid"
    >
      Зарегестрироваться
    </button>
    <p fxLayoutAlign="center center" class="authFbGlText" style="margin-top: 10px">или</p>
    <p class="social">
          <span class="greyDarkText authFbGlText">
                      Войдите с помощью социальных сетей:
          </span>
      <span>
           <a class="fb" (click)="googleLogin()"><img src="assets/icons/gmail.svg" alt="google logo"/></a>
           <a
             class="fb fbImg"
             (click)="fbLogin()"
           >
            <img src="assets/icons/fb.svg" alt="facebook logo"/>
           </a>
      </span>
    </p>
    <div class="registerMessage">
      <p class="greyDarkText authFbGlText">Уже зарегестрированы? <a routerLink="/login">Войти</a></p>
    </div>
  </form>
</app-auth-forms>
