.invalid-form-text {
  color: red;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #FFFFFF;
}

::ng-deep .mat-form-field {
  font-size: 12px;
}

.social img {
  width: 30px;
}

.fb {
  margin-left: 10px;
}
