.register-form
  margin-top: 50px

mat-card
  width: 25rem

.regLink
  margin: 20px auto

img
  width: 30px
  height: 30px

.btn_text
  width: 70%
  font-size: 0.8em

text
  font-family: 'Poppins', sans-serif
  font-style: normal
  font-size: 15px
  line-height: 22.5px
  margin-bottom: 30px !important

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline
  background-color: #FFFFFF


::ng-deep .mat-form-field
  font-size: 12px

.social img
  width: 30px

.fb
  margin-left: 10px
