<app-auth-forms title="Забыли свой пароль?">
  <p class="greyDarkText text" style="font-weight: 700; margin-top: 15px; margin-bottom: 20px">Введите свой e-mail адрес, и мы отправим вам
    письмо
    со ссылкой
    для сброса пароля
    .</p>
  <form
    #f="ngForm"
    fxLayout="column"
    autocomplete="off"
    style="margin-top: 20px"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field
      appearance="outline"
      hideRequiredMarker="true"
      class="authFormsInputText"
      style="margin-bottom: 17px"
    >
      <mat-label>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="14">
          <span class="material-icons">alternate_email</span>
          <span>e-mail</span>
        </div>
      </mat-label>
      <input
        type="email" name="email" autocomplete="username"
        email required matInput ngModel #email="ngModel"
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Введите ваш почтовый адрес.
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Пожалуйста, введите корректный адрес.
      </mat-error>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      class="authBtn"
      (click)="openDialog()"
      [disabled]="f.invalid"
    >
      Восстановить пароль
    </button>
    <p fxLayoutAlign="center center" class="authFbGlText" style="margin-top: 10px">или</p>
    <p class="social" fxLayout="row" fxLayoutAlign="space-evently center">
          <span class="greyDarkText authFbGlText">
                      Войдите с помощью социальных сетей:
          </span>
      <a class="fb" (click)="googleLogin()"><img src="assets/icons/gmail.svg" alt="google logo"/></a>
      <a class="fb" (click)="fbLogin()"><img src="assets/icons/fb.svg" alt="facebook logo"/></a>
    </p>
    <div>
      <p class="greyDarkText authFbGlText">Уже зарегестрированы? <a routerLink="/login">Войти</a></p>
    </div>
  </form>
</app-auth-forms>








