<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<div *ngIf="!favoriteCourses[0]">
  <h1>Добавьте интересные вам курсы в список желаний, чтобы вернуться к ним позже.</h1>
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else coursesArea"
  mode="indeterminate"
  style="margin: 20px 20px;"
></mat-progress-spinner>

<ng-template #coursesArea>
  <h1>Курсы, которые вы хотите пройти</h1>
  <div fxLayout="column" class="cards" *ngFor="let course of favoriteCourses">
    <mat-card fxLayout="row" class="card favorite" fxLayoutAlign="start space-between">
      <img
        class="course-image"
        fxFlex="12"
        [src]="course.image | imageForCourse"
        [alt]="course.title"
      >
      <div fxFlex="73">
        <mat-card-title-group fxLayout="column" fxLayoutAlign="space-around flex-start" style="height: 100%">
          <p class="course-author">{{ course.author.displayName }}</p>
          <p class="title">{{ course.title }}</p>
        </mat-card-title-group>
        <mat-card-content>
          <p *ngIf="!course.is_free"><b>{{ course.price }}сом</b></p>
        </mat-card-content>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-around flex-end">
        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu" class="remove-btn">
            <span class="material-icons">more_vert</span>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Покинуть курс</button>
          </mat-menu>
        </div>

        <mat-card-actions fxFlex="15">
          <button mat-stroked-button color="accent" *ngIf="!course.is_free">Купить курс</button>
          <button mat-stroked-button color="success" *ngIf="course.is_free">Пройти курс</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</ng-template>

