<!--<mat-progress-spinner-->
<!--  class="main-spinner"-->
<!--  *ngIf="(reviewsFetchLoading | async) else coursesArea"-->
<!--  mode="indeterminate"-->
<!--  style="margin: auto; position: fixed; overflow: visible; top: 0; left: 0; bottom: 0; right: 0;"-->
<!--&gt;</mat-progress-spinner>-->
<!--<ng-template #coursesArea>-->
  <div class="title-block" *ngIf="course">
    <div class="container">
      <h1 class="course-title">{{ course.title }}</h1>
      <div>
        <iframe class="video" width="270" height="150" [src]="course.promoVideo | youTubeVideo"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="course-info">
          <div>
            <img
              *starsRepeat="review"
              class="rating-img-sm"
              src="assets/icons/ic-star-yellow.svg" alt="rating"
            />
            <span *ngIf="review">{{ review }}</span>
            <p>{{ course.students.length }} учащихся</p>
          </div>
          <div class="course-info__review">
            <p *ngIf="allReview === 1">{{allReview}} отзыв</p>
            <p *ngIf="allReview > 1 && allReview < 5">{{allReview}} отзыва</p>
            <p *ngIf="allReview > 4">{{allReview}} отзывов</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between" class="box" *ngIf="course">
      <div fxFlex="70">
        <div class="about-course">
          <h2>О курсе</h2>
          <p>{{ course.information }}</p>
        </div>

        <div class="about-course">
          <h2>Преподаватели</h2>
          <p class="author_name">{{ course.author.displayName }}</p>
          <p>{{ course.author.aboutMe }}</p>
        </div>

        <div class="about-course">
          <h2>Программа курса</h2>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false" *ngFor="let module of course.modules">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ module.title }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="lesson-title" *ngFor="let les of module.lessons, let a = index">{{ a + 1 }}. {{les.title}}</p>
          </mat-expansion-panel>
        </div>

        <div class="about-course review-block" *ngIf="review">
          <h2>Отзывы прошедших курс</h2>
          <div fxLayout="row" fxLayoutAlign="stretch center" class="rating">
            <div class="review-rate">
              <p>{{ review }}</p>
              <span>Из 5</span>
            </div>
            <div class="review-grade">
              <div>
                <mat-progress-bar
                  class="progress"
                  color="warn"
                  mode="determinate"
                  [value]=star(5)
                  [bufferValue]=allReview>
                </mat-progress-bar>
              </div>
              <div>
                <mat-progress-bar
                  class="progress"
                  color="warn"
                  mode="determinate"
                  [value]=star(4)
                  [bufferValue]=allReview>
                </mat-progress-bar>
              </div>
              <div>
                <mat-progress-bar
                  class="progress"
                  color="warn"
                  mode="determinate"
                  [value]=star(3)
                  [bufferValue]=allReview>
                </mat-progress-bar>
              </div>
              <div>
                <mat-progress-bar
                  class="progress"
                  color="warn"
                  mode="determinate"
                  [value]=star(2)
                  [bufferValue]=allReview>
                </mat-progress-bar>
              </div>
              <div>
                <mat-progress-bar
                  class="progress"
                  color="warn"
                  mode="determinate"
                  [value]=star(1)
                  [bufferValue]=allReview>
                </mat-progress-bar>
              </div>
            </div>
            <div class="review-amount">
              <p *ngIf="allReview === 1">из {{allReview}} отзыва</p>
              <p *ngIf="allReview > 1">из {{allReview}} отзывов</p>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start" class="rating-box" *ngIf="userOne && isAStudent()">
          <star-rating class="rating"
                       [starType]="'svg'"
                       [labelText]="currentReview ? 'Редактировать отзыв' : 'Оставьте свой отзыв!'"
                       [hoverEnabled]="true"
                       (ratingChange)="onRatingChange($event)"
          ></star-rating>

          <form
            *ngIf="ratingNumber > 0"
            #f="ngForm"
            fxLayout="column"
            class="review-form"
            (ngSubmit)="addReview()"
          >
            <mat-form-field appearance="outline">
              <mat-label>Комментарий:</mat-label>
              <input type="text"
                     name="text"
                     matInput
                     ngModel
                     [(ngModel)]="reviewText"
              />
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="start">
              <button
                type="submit"
                mat-raised-button
                class="main-color-back"
                [disabled]="!reviewText"
              >
                {{ currentReview ? 'Сохранить' : 'Оставить отзыв' }}
              </button>
            </div>
          </form>
        </div>

        <div>
          <div class="review-user" *ngFor="let rev of reviewsArr">
            <div fxLayout="row" fxLayoutAlign="space-between">
              <p class="review-author">{{ rev.user.displayName }}</p>
              <div>
                <img
                  *starsRepeat="rev.rate"
                  class="rating-img-md"
                  src="assets/icons/ic-star.svg" alt="rating"
                />
              </div>
            </div>
            <div class="img-block">
              <a mat-icon-button *ngIf="userOne && (userOne._id === rev.user._id || userOne.role === 'admin')"><span
                class="material-icons" (click)="removeReview(rev)">clear</span></a>
              <a mat-icon-button *ngIf="userOne && (userOne._id === rev.user._id || userOne.role === 'admin')"><span
                class="material-icons" (click)="editReview(rev)">edit</span></a>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <p class="review-text">{{ rev.text }}</p>
              <p style="margin: 0">{{ rev.datetime.substr(11, 5) }}     {{ rev.datetime.substr(0, 10) }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons" fxLayout="column" *ngIf="userOne">
        <p *ngIf="course.is_free">Бесплатно</p>
        <p *ngIf="!course.is_free">{{ course.price }} сом</p>

        <button mat-raised-button *ngIf="course.is_free && !learning" (click)="addLearningCourse(course._id)">
          Поступить на курс
        </button>
        <button mat-raised-button *ngIf="!course.is_free && !learning" (click)="addLearningCourse(course._id)">Купить
        </button>
        <button mat-stroked-button *ngIf="!course.is_free && !learning">Попробовать бесплатно</button>
        <button mat-stroked-button *ngIf="learning"
                [routerLink]="['/course', 'lessons', course._id, course.modules[0].lessons[0]._id]">Продолжить
        </button>
        <button mat-button class="favorite" (click)="addFavoriteCourse(course._id)" *ngIf="!favorite || !learning">
          Хочу пройти
        </button>
      </div>
    </div>
  </div>
<!--</ng-template>-->
