<div class="main-block clearfix">
  <div class="main-block-inner">
    <div class="main-block-top">
      <div class="lesson-info ">
        <h4 class="course-title">{{ courseData?.title }}</h4>
        <p class="lesson-title">{{ lessonData?.title }}</p>

        <iframe class="video" width="560" height="315" [src]="lessonData.video | youTubeVideo"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                *ngIf="lessonData?.video">
        </iframe>

        <div id="info"></div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between">
        <a class="btn" *ngIf="courseData" mat-raised-button (click)="previousLesson(lessonData._id)"
           [routerLink]="['/course', 'lessons', courseData._id, previousLessonId]">Предыдущий урок</a>

        <a class="btn" *ngIf="courseData" mat-raised-button (click)="nextLesson(lessonData._id)"
           [routerLink]="['/course', 'lessons', courseData._id, nextLessonId]">Следующий урок</a>
      </div>
    </div>
  </div>

  <div class="comments">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <p style="margin: 0">Комментариев: <strong>{{ lessonData?.comments ? lessonData.comments.length : '' }}</strong>
      </p>
    </div>
    <form
      #f="ngForm"
      fxLayout="column"
      autocomplete="off"
      style="margin-top: 20px"
      (ngSubmit)="addComment()"
      class="comment-form"
    >
      <mat-form-field appearance="outline">
        <mat-label>Комментарий:</mat-label>
        <input type="text" name="text" matInput ngModel [(ngModel)]="text"/>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="start">
        <button
          type="submit"
          mat-raised-button
          class="main-color-back"
          [disabled]="!text"
        >
          Оставить комментарий
        </button>
      </div>
    </form>

    <ng-container *ngIf="lesson | async">
      <mat-card *ngFor="let c of lessonData.comments" class="comment-card">
        <mat-card-content>
          <div fxLayout="row">
            <p><strong>{{ c.user.displayName }}</strong></p>&nbsp;&nbsp;
            <p class="text-muted">{{ c.datetime.substr(11, 5) }} {{ c.datetime.substr(0, 10)}} </p>
          </div>
          <p>{{ c.text }}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
