<footer >
  <div class="footer-logo">
    <a routerLink="/">
      <img class="logo" src="./assets/icons/bilemLogo.svg" alt="logo">
    </a>
  </div>
  <div class="footer-nav">
    <nav>
      <a routerLink="/help">Помощь</a>
      <a routerLink="/contacts">Контакты</a>
      <a routerLink="/aboutProject">О проекте</a>
      <a routerLink="/develop">Разработка</a>
      <a routerLink="/jobs">Вакансии</a>
    </nav>
  </div>
  <div class="footer-text">
    <p>© Bilem Online, 2022</p>
  </div>
</footer>
