<footer >
  <div class="footer-logo">
    <a routerLink="/">
      <img class="logo" src="./assets/icons/bilemLogo.svg" alt="logo">
    </a>
  </div>
  <div class="footer-nav">
    <nav>
      <a class="help" routerLink="/help" target="_blank">Помощь</a>
      <a class="contacts" routerLink="/contacts" target="_blank">Контакты</a>
      <a class="about-project" routerLink="/about-project" target="_blank">О проекте</a>
      <a class="team" routerLink="/team" target="_blank">Разработка</a>
      <a class="vacancy" routerLink="/vacancy" target="_blank">Вакансии</a>
    </nav>
  </div>
  <div class="footer-text">
    <p>© Bilem Online, 2022</p>
  </div>
</footer>
