<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else coursesArea"
  mode="indeterminate"
></mat-progress-spinner>

<div *ngIf="available" class="notAvailable">
  <p><b>По данному запросу ничего не найдено. Попробуйте изменить параметры поиска.</b></p>
</div>

<ng-template #coursesArea >
  <div class="card_section" *ngFor="let course of searchCourses | async">
    <div class="card">
      <div class="card_img">
                <img
                  mat-card-sm-image
                  class="image"
                  [src]="course.image | imageForCourse"
                  [alt]="course.title"
                >
      </div>
      <div class="card_titles">
        <p class="card_author">{{ course.author.displayName }}</p>
        <p class="card_title">{{ course.title }}</p>
      </div>
      <div class="card_subtitles">
        <div class="icons">
          <i class="material-icons" style="color: #9999998A;">star</i>
          <p class="course-rate-text">{{ course.rate }}</p>
          <i class="material-icons" style="color: #9999998A;">person</i>
          <p class="course-rate-text">{{ course.students.length }}</p>
        </div>
        <div class="price">
          <p *ngIf="!course.is_free" class="card_price">{{ course.price }}</p>
          <p *ngIf="course.is_free" class="card_price">Бесплатно</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

