.cards-wrap {
  padding-top: 46px;
  width: 100%;
}

.cards {
  margin-bottom: 16px;
}

.favorite {
  width: 570px;
}

.page-title {
  font-size: 32px;
  font-weight: 500;
}

.card-top {
  margin-bottom: 16px;
}

.card-title {
  margin-bottom: 0;
  color: #3B3F5C;
  font-size: 18px;
}

.notCourses {
  color: #3B68FF;
}

.notCourses:hover {
  color: #7422ff;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow:  0 7px 14px #D3DAE2;
  -moz-box-shadow:  0 7px 14px #D3DAE2;
  box-shadow: 0 7px 14px #D3DAE2;
}

.continue-btn {
  color: #fff;
  background: #85233E;
}

.leave-btn {
  color: #85233E;
}

.progress {
  color: #85233E;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #85233E;
  border-radius: 15px;
}

::ng-deep .mat-progress-bar-buffer {
  background: #D3DAE2;
}

::ng-deep .mat-progress-bar {
  border-radius: 15px;
}

.mat-progress-bar {
  height: 14px;
}

.loader {
  margin: 20px 20px;
}

.recent-course-card {
  width: 350px;
  margin-bottom: 16px;
}

.recent-course-card:hover {
  background: #85233E;
  color: #fff;
}

.recent-course-card-inner {
  margin: 0;
}

.recent-course-card_title {
  color: #081131;
  font-size: 17px;
}

.recent-course-card:hover .recent-course-card_title {
  color: #fff;
}

.recent-course-card_content {
  color: #9DA6BA;
}

.recent-course-card:hover .recent-course-card_content {
  color: #fff;
}

.recent-course-card:hover .recent-course-link {
  color: #fff;
}

.progress-content {
  max-width: 35px;
  color: #6B0D24;
  position: relative;
  top: -25%;
  left: 55%;
  transform: translate(-50%, -55%);
  margin: 0;
}

.recent-course-card:hover .progress-content {
  color: #fff;
}

::ng-deep .mat-progress-spinner circle {
  stroke: #85233E !important;
}

.recent-course-card:hover ::ng-deep .mat-progress-spinner circle {
  stroke: #fff !important;
}

.paginationArea {
  width: 60%;
  text-align: right;
  margin-bottom: 40px;
  box-sizing: border-box;
  padding-right: 10px;
}

.my-pagination /deep/ .ngx-pagination .current {
  color: #85233E !important;
  border: 1px solid #85233E !important;
  border-radius: 15%;
  background-color: #FFFFFF !important;
}

.my-pagination /deep/ .ngx-pagination a {
  border: 1px solid #DFE3E8 !important;
  background-color: #FFFFFF;
  border-radius: 15%;
  margin-left: 10px;
}

.my-pagination /deep/ .ngx-pagination a::after {
  margin: 0;
}

.my-pagination /deep/ .ngx-pagination a::before {
  margin: 0;
}

.text-muted {
  margin: 0;
}

@media screen and (max-width: 1120px) {
  .lastCourses {
    display: none;
  }
  .paginationArea {
    float: right;
  }
}






