<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<div *ngIf="!learningCourses[0]">
  <h1>Найдите себе первый курс в <a class="notCourses" routerLink="/">нашем каталоге.</a></h1>
</div>

<mat-progress-spinner
  *ngIf="(loading | async); else coursesArea"
  mode="indeterminate"
  class="loader"
></mat-progress-spinner>

<ng-template #coursesArea>
  <div fxLayout="row" fxLayoutGap="16px" class="cards-wrap">
    <div fxFlex="60%">
      <h3 class="page-title" *ngIf="learningCourses.length">Все курсы</h3>
      <div fxLayout="column" class="cards" *ngFor="let course of learningCourses">
        <mat-card class="card learning">
          <div class="card-top" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="60%">
              <mat-card-title class="card-title">{{ course.course.title }}</mat-card-title>
            </div>

            <mat-card-content fxFlex="40%" fxLayout="row" fxLayoutAlign="flex-end" style="margin: 0">
              <a mat-stroked-button class="continue-btn"
                 [routerLink]="['/course', 'lessons', course.course._id, course.course.modules[0].lessons[0]._id]">Продолжить</a>&nbsp;&nbsp;
              <button mat-stroked-button color="warn" class="leave-btn">Покинуть</button>
            </mat-card-content>
          </div>

          <div>
            <p class="text-muted">Setters</p>
          </div>

          <div fxLayout="row" fxLayoutAlign="flex-end">
            <p class="progress">{{ course.progress }}%</p>
          </div>

          <mat-progress-bar mode="determinate" [value]="course.progress"></mat-progress-bar>
        </mat-card>
      </div>
    </div>

    <div fxFlex="40%" *ngIf="lastCourses.length">
      <mat-card>
        <mat-card-content>
          <h3 class="page-title">Мои последние курсы</h3>
          <mat-card class="recent-course-card" *ngFor="let c of lastCourses">
            <mat-card-content class="recent-course-card-inner" fxLayout="row" fxLayoutAlign="space-between center">
              <div style="height: 100px;" fxLayout="row" fxLayoutGap="16px">
                <div>
                  <mat-progress-spinner [color]="'warn'"
                                        [mode]="'determinate'"
                                        [value]="c.progress"
                                        diameter="55">
                  </mat-progress-spinner>
                  <div class="progress-content">{{ c.progress }}%</div>
                </div>
                <div>
                  <h4 class="recent-course-card_title">{{ getCourseTitle(c.course.title) }}</h4>
                  <p class="recent-course-card_content">Пройдено {{ c.passedLessons.length }} уроков</p>
                </div>
              </div>
              <a class="recent-course-link" mat-icon-button
                 [routerLink]="['/course', 'lessons', c.course._id, c.course.modules[0].lessons[0]._id]">
                <mat-icon>arrow_forward_ios</mat-icon>
              </a>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>

