<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<div *ngIf="!learningCourses[0]">
  <h1>Найдите себе первый курс в <a class="notCourses" routerLink="/">нашем каталоге.</a></h1>
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else coursesArea"
  mode="indeterminate"
  style="margin: 20px 20px;"
></mat-progress-spinner>

<ng-template #coursesArea >
  <div fxLayout="column" class="cards" *ngFor="let course of learningCourses">
    <mat-card fxLayout="row" class="card learning" fxLayoutAlign="space-between">
      <img
        fxFlex="20"
        [src]="course.image | imageForCourse"
        [alt]="course.title"
      >
      <div fxFlex="70">
        <mat-card-title-group>
          <mat-card-title class="title">{{ course.title }}</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
          <button mat-stroked-button color="primary">Продолжить</button>
          <button mat-stroked-button color="warn">Покинуть</button>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</ng-template>

