.cards {
  display: flex;
  flex-direction: column;
}

.card  {
  width: 500px;
  margin-bottom: 16px;
}

.card:hover {
  box-shadow: 0 0 5px 2px lightgray;
  cursor: pointer;
}

.img {
  width: 60px;
  margin-right: 16px;
}

.title-course {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
