.cards {
  display: flex;
  flex-direction: column;
  position: relative;
}

.course-card {
  text-decoration: none;
}

.card  {
  margin-bottom: 16px;
}

.card:hover {
  box-shadow: 0 0 5px 2px lightgray;
  cursor: pointer;
}

.img {
  width: 60px;
  margin-right: 16px;
}

.title-course {
  width: 100%;
}

.text {
  font-size: 16px;
}

.btn-icon{
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.search-block{
  width: 60%;
  margin: 4px 0 20px;
}
