<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Курсы</h1>
</div>

<mat-progress-spinner
    *ngIf="(loading | async) else coursesArea"
    mode="indeterminate"
></mat-progress-spinner>

<ng-template #coursesArea>
  <form>
    <mat-form-field appearance="outline" class="search-block">
      <mat-label>Название курса</mat-label>
      <input type="text" name="search" [(ngModel)]="searchText" matInput>
    </mat-form-field>
  </form>

  <div class="cards" *ngFor="let course of courses | async | filter : searchText">
    <a [routerLink]="['/syllabus/program/', course._id]" class="course-card">
      <mat-card fxLayout="row" fxLayoutAlign="space-between" class="courseCard card">
        <div class="unpublished" *ngIf="!course.is_published">
          <span class="unpublished-text">Unpublished</span>
        </div>
        <img class="img" [src]="course.image | imageForCourse" [alt]="course.title"/>
        <div fxLayout="row" fxLayoutAlign="space-between" class="title-course">
          <h2>
            <p class="text"><i>Курс: {{ course.title }}</i></p>
          </h2>
        </div>
      </mat-card>
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-icon">
      <mat-icon id="editCourse">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-button color="primary" [routerLink]="['/editModule', course._id]">Редактировать</button>
      <button mat-button color="warn" (click)="deleteCourse(course._id)">Удалить</button>
    </mat-menu>
  </div>
</ng-template>