<div fxLayout="column" fxLayoutAlign="space-between flex-start">
  <h1 class="teaching-title">Курсы на которых вы преподаватель</h1>
  <p class="subtitle">Что бы добавить или редактировать уроки к вашим курсам, нажмите на кнопку редактировать</p>
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else coursesArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #coursesArea>
  <div class="cards" *ngFor="let course of courses | async | filter : searchText">
    <a [routerLink]="['/syllabus/program/', course._id]" class="course-card">
      <mat-card fxLayout="row" fxLayoutAlign="space-between" class="courseCard card">
        <div class="unpublished" *ngIf="!course.is_published">
          <span class="material-icons red-color" matTooltip="Не опубликовано">unpublished</span>
        </div>
        <img class="img" [src]="course.image | imageForCourse" [alt]="course.title"/>
        <div fxLayout="row" fxLayoutAlign="space-between" class="title-course">
          <h2>
            <p class="text">
              <i>Курс: {{ course.title }}</i>
              <span class="textIsFree" *ngIf="course.is_free === false">Данный курс платный</span>
            </p>
          </h2>
        </div>
      </mat-card>
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-icon">
      <mat-icon id="editCourse">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-button color="warn" (click)="deleteCourse(course._id)">Удалить</button>
    </mat-menu>
    <button mat-stroked-button color="red" [routerLink]="['/editModule', course._id]" class="btn-edit">Редактировать
    </button>
  </div>
</ng-template>
