<app-auth-forms title="Войдите">
  <p class="authText greyDarkText">В свой аккаунт</p>
  <form
    #f="ngForm"
    fxLayout="column"
    autocomplete="off"
    style="margin-top: 20px"
    (ngSubmit)="onSubmit()"
  >
    <div *ngIf="error | async" class="error">
      {{ (error | async)?.error }}
    </div>
    <mat-form-field appearance="outline" hideRequiredMarker="true" class="authFormsInputText">
      <mat-label>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="25">
          <span class="material-icons">alternate_email</span>
          <span>email</span>
        </div>
      </mat-label>
      <input
        class="email"
        type="email"
        name="email"
        autocomplete="username"
        email
        required
        matInput
        ngModel
        #email="ngModel"
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Введите ваш почтовый адрес.
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Пожалуйста, введите корректный адрес.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" hideRequiredMarker="true" class="authFormsInputText" style="margin-bottom:
       20px">
      <mat-label>
        <div fxLayout="row" fxFlex="27" fxLayoutAlign="space-between center">
          <span class="material-icons">lock</span>
          <span>Пароль</span>
        </div>
      </mat-label>
      <input
        type="password" name="password" autocomplete="current-password"
        required matInput ngModel minlength="8" #password="ngModel"
      />
      <mat-error *ngIf="password.touched && password.hasError('required')">
        Введите пароль.
      </mat-error>
      <mat-error *ngIf="password.touched && password.hasError('minlength')">
        Пароль должен содержать минимум 8 символов.
      </mat-error>
    </mat-form-field>
    <div class="authLightGreyTextDiv">
      <mat-checkbox>Запомнить меня</mat-checkbox>
    </div>
    <button
      type="submit"
      mat-raised-button
      class="authBtn"
      [disabled]="f.invalid"
    >
      Войти
    </button>
    <p fxLayoutAlign="center center" class="authFbGlText" style="margin-top: 10px">или</p>
    <p fxLayout="row" fxLayoutAlign="space-between center">
          <span class="greyDarkText authFbGlText">
                      Войдите с помощью социальных сетей:
          </span>
      <input class="fb" type="image" src="assets/icons/gmail.svg" alt="google logo" (click)="googleLogin()">
      <input class="fb" type="image" src="assets/icons/fb.svg" alt="facebook logo" (click)="fbLogin()">
    </p>
    <div>
      <p class="greyDarkText authFbGlText">Забыли пароль? <a routerLink="/recovery">Восстановить</a></p>
      <p class="greyDarkText authFbGlText">Нет аккаунта? <a routerLink="/register">Зарегистрируйтесь!</a></p>
    </div>
  </form>
</app-auth-forms>
