<app-centered-card title="Вход">
  <form
    #f="ngForm"
    fxLayout="column"
    autocomplete="off"
    style="margin-top: 20px"
    (ngSubmit)="onSubmit()"
  >
    <div *ngIf="error | async" class="error">
      {{ (error | async)?.error }}
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email" name="email" autocomplete="username"
        email required matInput ngModel #email="ngModel"
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Введите ваш почтовый адрес.
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Пожалуйста, введите корректный адрес.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Пароль</mat-label>
      <input
        type="password" name="password" autocomplete="current-password"
        required matInput ngModel minlength="8" #password="ngModel"
      />
      <mat-error *ngIf="password.touched && password.hasError('required')">
        Введите пароль.
      </mat-error>
      <mat-error *ngIf="password.touched && password.hasError('minlength')">
        Пароль должен содержать минимум 8 символов.
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center">
      <p>Еще нет аккаунта? <a routerLink="/register">Зарегистрируйтесь</a></p>
    </div>

    <div class="regLink">
      <p>
        <a routerLink="/recovery">Забыли пароль?</a>
      </p>
    </div>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      style="font-size: 18px"
      [disabled]="f.invalid"
    >
      Войти
    </button>

    <div fxLayout="row" class="div">
      <hr style="width: 45%; margin: 25px 0; transform: scaleY(0.3);"/><p>ИЛИ</p><hr style="width: 45%; margin: 25px 0; transform: scaleY(0.3);"/>
    </div>

    <p style="font-size: 16px">Войдите с помощью социальных сетей:</p>

    <input class="fb" type="image" src="assets/icons/fb.svg" alt="facebook logo" (click)="fbLogin()">
  </form>
</app-centered-card>
