<div class="container">
  <div class="block1">
    <div class="box1">
      <h3 class="littleTitle">Bilem online</h3>
      <h1 class="bigTitle">Преподавание в образовательной платформе Bilem</h1>
      <p class="textStyle">Станьте преподавателем и меняйте жизни к лучшему — включая свою</p>
      <button>Начать преподавание</button>
    </div>
    <div class="box2">
      <iframe class="video" width="564" height="318" [src]="'ylakWC0VcEM' | youTubeVideo"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
      >
      </iframe>
    </div>
  </div>

  <div class="block2">
    <p>На нашей платформе уже 15 985 курсов от авторов и компаний</p>
    <div class="block2_links">
      <a href="https://www.netflix.com" target="_blank">
        <img src="assets/icons/netflix.svg" alt="netflix" >
      </a>
      <a href="https://medium.com" target="_blank">
        <img src="assets/icons/medium.svg" alt="medium" >
      </a>
      <a href="https://google.com" target="_blank">
        <img src="assets/icons/google.svg" alt="google" >
      </a>
      <a href="https://youtube.com" target="_blank">
        <img src="assets/icons/youtube.svg" alt="youtube" >
      </a>
      <a href="https://vercel.com" target="_blank">
        <img src="assets/icons/vercel.svg" alt="vercel" >
      </a>
      <a href="https://docker.com" target="_blank">
        <img src="assets/icons/docker.svg" alt="docker" >
      </a>
    </div>
  </div>

  <div class="block3">
    <div class="elem1">
      <h3 class="littleTitle">Работайте с нами</h3>
      <h1 class="bigTitle">Что нас делает нас особенными</h1>
      <p class="textStyle">Bilem — образовательная платформа. Наша цель — сделать образование открытым и удобным. Мы помогаем учиться, а также создавать свои курсы и обучать.</p>
      <ul>
        <li>Удобный конструктор для создания своих курсов</li>
        <li>Платные курсы как метод заработок</li>
        <li>Большое комьюнити</li>
      </ul>
      <p class="textStyle abc">Положитесь на свой интерес и знания. Выберите подходящую тему с помощью инструмента аналитики торговой площадки.</p>
      <p class="textStyle">Ваш стиль преподавания — то, что вы в него вкладываете, — зависит только от вас.</p>
      <h2 class="bigTitle">Мы здесь что бы помочь вам в преподавании</h2>
      <p class="textStyle">Мы предоставляем множество ресурсов для создания вашего первого курса. Наши страницы с панелью преподавателя и учебным планом курса помогут вам организовать процесс.</p>
    </div>

    <div class="elem2">
      <a href="https://docker.com" target="_blank">
        <img src="assets/icons/docker.svg" alt="docker" class="dockerImg">
      </a>
      <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
      <div class="authorBlock3">
        <img src="assets/icons/avatarTarrif.svg" alt="avatar">
        <p><span>Lorem Ipsum</span>  /  CEO, Компании</p>
      </div>
    </div>
  </div>

  <div class="block4">
    <div>
      <h3>20 467</h3>
      <p>Активных пользователей</p>
    </div>
    <div>
      <h3>347</h3>
      <p>Курсов</p>
    </div>
    <div>
      <h3>467</h3>
      <p>Зарабатывают с нами</p>
    </div>
  </div>

  <div class="block5">
    <div class="el1">
      <h1 class="bigTitle">Правильный выбор образовательной платформы</h1>
      <p class="textStyle">На нашей платформе есть возможность заработка для всех пользователей с помощью продажи курсов. Так же вы можете создавать бесплатные курсы, что бы просвещать людей и за одно становится популярнее как преподаватель, что бы о вас узнали как можно больше людей, что в конечном итоге повысит вашу выручку.</p>
    </div>

    <div class="el2">
      <h2 class="bigTitle">Бесплатные курсы</h2>
      <ul>
        <li>Редактор курса</li>
        <li>Общение со студентами через коментарии</li>
        <li>Стандартная техническая поддержка</li>
      </ul>
      <h1 class="bigTitle">Бесплатно</h1>
      <button>Начать</button>
    </div>

    <div class="el2 el3">
      <h2 class="bigTitle">Платные курсы</h2>
      <ul>
        <li>Редактор курса</li>
        <li>Общение со студентами через коментарии</li>
        <li>Улучшенная техническая поддержка</li>
        <li>Защита ваших материалов</li>
        <li>Платный сервер для хранения и просмотра ваших видео</li>
      </ul>
      <h1 class="bigTitle">12% от продажи</h1>
      <button>Начать</button>
    </div>
  </div>
</div>
