<div class="main">
  <app-sidebar class="nav">
    <div class="user-info" fxLayout="row">
      <div class="avatar">
        {{ userData.displayName?.charAt(0) }}
      </div>
      <div>
        <h5 class="user-title">{{ userData.displayName }}</h5>
        <p class="user-subtitle">{{ userData.myCourses.length + userData.myCourses.length}} курсов</p>
      </div>
    </div>
    <mat-nav-list role="navigation">
      <a mat-list-item routerLink="learning">
        <img src="../../../assets/icons/my-courses.svg" alt="my-courses" class="ic"/>
        Мои курсы
      </a>
      <a mat-list-item routerLink="favorite" class="favoriteLink">
        <img src="assets/icons/favorite-courses.svg" alt="favorite-courses" class="ic"/>
        Хочу пройти
      </a>
    </mat-nav-list>
  </app-sidebar>
  <div class="router container">
    <div class="tabList">
      <span routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
       <a routerLink="learning">Мои курсы</a>
      </span>
      <span routerLinkActive="active">
       <a routerLink="favorite">Хочу пройти</a>
      </span>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

