<mat-toolbar
  class="toolbar"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div fxLayoutAlign="space-between center">
    <a routerLink="/" class="logo">bilem.</a>
    <nav class="page-nav">
      <div class="dropdown">
        <a class="dropbtn">Категории</a>
        <div class="dropdown-content">
          <div class="content" *ngFor="let category of categoriesArray">
            <p class="category__title">{{ category.title }}</p>
            <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="material-icons" *appHasRoles="['admin']" (click)="deleteCategory(category._id)">
                delete
              </span>
            <span class="material-icons" *appHasRoles="['admin']" [routerLink]="['/edit-category', category._id]">edit</span>
            </div>
          </div>
          <div *appHasRoles="['admin']">
            <a mat-raised-button color="primary" routerLink="/add-category">
              <span class="material-icons" style="margin-right: 10px">
                add
              </span>
            </a>
          </div>
        </div>
      </div>
      <a routerLink="courses">Мои курсы</a>
      <a routerLink="teaching">Преподавание</a>
    </nav>
  </div>
  <div fxLayoutAlign="space-between center">
    <div class="search">
      <span class="material-icons search-icon">
        search
      </span>
      <input
        type="text"
        name="search"
        [(ngModel)]="search"
        placeholder="поиск"
      />
    </div>
    <nav *ngIf="!(user | async) else userMenu">
      <a mat-button routerLink="register">РЕГИСТРАЦИЯ</a>&nbsp;
      <a mat-button routerLink="login">ВОЙТИ</a>
    </nav>
  </div>
</mat-toolbar>

<ng-template #userMenu>
  <nav>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="avatar">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>{{ (user | async)?.displayName }}</button>
      <a mat-menu-item>Profile</a>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </nav>
</ng-template>
