.toolbar{
  background: #111116;
  color: white;
}

.logo{
  color: #CAC6BF;
  text-decoration: underline;
  font-weight: 900;
  font-size: 1.5rem;
}

.avatar mat-icon{
  font-size: 35px;
}

.page-nav{
  margin-left: 30px;
}

.page-nav a{
  color: white;
  text-decoration: none;
  font-size: 17px;
  margin-right: 50px;
  padding-bottom: 5px;
}

.search input{
  padding: 10px;
  border-radius: 5px;
  border: none;
}




