<mat-toolbar
  class="toolbar"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div fxLayoutAlign="space-between center">
    <a routerLink="/">
      <img class="logo" src="./assets/icons/bilemLogo.svg" alt="logo">
    </a>
    <nav class="page-nav">
      <a routerLink="/" routerLinkActive="activeToolbarNav" [routerLinkActiveOptions]="{exact:true}">Каталог</a>
      <a routerLink="myCourses/learning" routerLinkActive="activeToolbarNav" [routerLinkActiveOptions]="{exact:true}">Мои курсы</a>
      <a routerLink="teaching/courses" routerLinkActive="activeToolbarNav" [routerLinkActiveOptions]="{exact:true}">Преподавание</a>
    </nav>
  </div>
  <div fxLayoutAlign="space-between center">
    <div class="search">
      <span class="material-icons search-icon">
        search
      </span>
      <input
        type="text"
        [formControl]="myControl"
        [matAutocomplete]="auto"
        placeholder="Поиск"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          class="course-title"
          *ngFor="let option of filteredOptions | async"
          [value]="option"
          [routerLink]="['/search']"
          [queryParams]="{ 'title': option.title}"
        >{{option.title}}</mat-option>
      </mat-autocomplete>
    </div>
    <nav *ngIf="!(user | async) else userMenu" class="btnNav">
      <a routerLink="login" class="btnSign">Войти</a>
    </nav>
  </div>
</mat-toolbar>

<ng-template #userMenu>
  <nav>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="avatar">
      <mat-icon>{{ (user | async)?.displayName?.charAt(0) }}</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item [routerLink]="['/profile', userId]" fxLayoutAlign="start center">
        <span class="material-icons">
          person
        </span>
        Профиль
      </a>
      <a mat-menu-item routerLink="/userSettings/editProfile" fxLayoutAlign="start center">
        <span class="material-icons">
          settings
        </span>
        Настройки
      </a>
      <button mat-menu-item (click)="logout()" fxLayoutAlign="start center">
        <span class="material-icons">
          logout
        </span>
        Выйти
      </button>
    </mat-menu>
  </nav>
</ng-template>



