.card-wrapper {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.5px;
  width: 368px;
  height: 210px;
  border-radius: 25px;
  margin: 7px;
  position: relative;
  cursor: pointer;
}

.card-wrapper mat-card-title a {
  max-width: 260px;
  text-decoration: none;
  margin-top: 10px;
  font-size: 18px;
  color: black;
}

.card-wrapper:hover {
  -webkit-box-shadow: 0 0 5px 2px lightgray;
  -moz-box-shadow: 0 0 5px 2px lightgray;
  box-shadow: 0 0 5px 2px lightgray;
}

mat-card-title-group {
  position: relative;
}

.rating-img {
  height: 20px;
}

.course-card {
  height: 100%;
}

.course-rate-text {
  color: rgba(153, 153, 153, 54%);
  font-size: 12px;
  margin: 3px 5px 0 5px;
}

.mat-card-title .course-title {
  display: block;
  font-size: 20px !important;
  margin-bottom: 13px !important;
}

.mat-card-title .course-author {
  font-size: 16px !important;
  font-weight: 400;
  color: #999;
}

.course-image {
  width: 96px;
  height: 96px;
  border-radius: 10px;
}

.course-content {
  position: absolute;
  bottom: 30px;
}

.price {
  color: #6B0D24;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

h1 {
  margin-left: 4rem;
  margin-top: 25px;
  font-size: 2.5rem;
}

.subscribers {
  height: 20px;
  margin-left: 5px;
}

.admin-btns {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.heart {
  position: absolute;
  top: -6px;
  right: -1px;
  color: #85233E;
  transition: 0.4s;
}

.heart:hover {
  color: red;
}

.heart:active {
  font-size: 35px;
}

