<mat-card class="card-wrapper" *ngIf="course['is_free'] === is_free">
  <div [routerLink]="['/course', course['_id']]" class="course-card" fxLayout="column"
       fxLayoutAlign="space-between">
    <div>
      <mat-card-title-group fxLayout="row" fxLayoutAlign="space-between">
        <mat-card-title>
          <a class="course-title" [routerLink]="['/course', course['_id']]">{{ course.title }}</a>
          <p class="course-author">Author</p>
        </mat-card-title>
        <div>
          <img
            mat-card-sm-image
            class="course-image"
            [src]="course.image | imageForCourse"
            alt="icon"
          >
        </div>
      </mat-card-title-group>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <p class="price" *ngIf="!course.is_free && !learning">{{ course['price'] }} сом</p>
        <p class="price" *ngIf="course.is_free && !learning">Бесплатно</p>
        <p class="price" style="color: #66cc66" *ngIf="learning">Вы уже записаны</p>
      </div>
      <div>
        <div fxLayout="row" class="div-div">
          <i class="material-icons icon" style="color: #9999998A;">star</i>
          <p class="course-rate-text">{{ course.rate }}</p>
          <i class="material-icons icon" style="color: #9999998A;">person</i>
          <p class="course-rate-text">{{ course.students.length }}</p>
        </div>
      </div>
    </div>
  </div>
</mat-card>
