<div class="lds-spinner" *ngIf="loading else coursesArea">
  <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
</div>

<ng-template #coursesArea>
  <div class="forAnonUserBlock" fxLayout="row" fxLayoutAlign="space-between start"  *ngIf="!(user | async)">
    <div class="textBlock" >
      <p class="p1">Начни учиться вместе с Bilem</p>
      <h1 class="title">Подберем для&nbsp; вас подходящий курс</h1>
      <p class="p2">Лучшие курсы со всего Кыргызстана
        собраны специально для тебя</p>
      <button class="btnGo" routerLink="/login">Начать учиться</button>
    </div>
    <img src="./assets/icons/woman.png" alt="woman" class="woman-img">
  </div>
    <app-course-cards [title]="'Бесплатные курсы'" [is_free]="true"></app-course-cards>
    <app-course-cards [title]="'Платные курсы'" [is_free]="false"></app-course-cards>
</ng-template>

