.forAnonUserBlock {
  height: 630px;
  margin-bottom: 40px;
  margin-top: 36px;
}

.textBlock {
  width: 580px;
}

.p1 {
  margin-bottom: 12px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #6B0D24;
  padding-top: 90px;
}

.title {
  margin-bottom: 29px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 73px;
  color: #141E32;
}

.p2 {
  width: 460px;
  margin-bottom: 29px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #969696;
}


.btnGo {
  width: 190px;
  height: 53px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  padding: 13px 20.5px;
  margin-left: auto;
  background: #111116;
  border: #111116;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 1195px) {
  .title {
    font-size: 58px;
  }
}

@media (max-width: 945px) {
  .woman-img {
    width: 100%;
    max-width: 330px;
  }

  .forAnonUserBlock {
    height: 550px;
  }

  .p1 {
    padding-top: 40px;
  }

  .title {
    font-size: 56px;
  }
}

@media (max-width: 815px) {
  .woman-img {
    width: 100%;
    max-width: 260px;
  }

  .forAnonUserBlock {
    margin-bottom: 0;
    height: 470px;
    margin-left: 20px;
  }

  .title {
    font-size: 48px;
  }

  .p1 {
    padding-top: 25px;
  }
}

@media (max-width: 744px) {
  .p1 {
    padding-top: 0;
    font-size: 20px;
    line-height: 24px;
  }

  .title {
    font-size: 40px;
    line-height: 45px;
  }

  .p2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 48px;
    max-width: 400px;
  }

  .btnGo {
    height: 47px;
    width: 170px;
    font-size: 18px;
    line-height: 27px;
    padding: 0;
  }

  .woman-img {
    width: 100%;
    max-width: 204px;
  }

  .forAnonUserBlock {
    margin-bottom: 30px;
    height: 308px;
    margin-left: 20px;
  }
}
