.content{
  width: 1000px;
  margin: 20px auto 30px;
  padding: 0 15px;
  text-align: left;
  background-color: #FCFCFC;
}

.card{
  padding: 20px;
  border:none;
  position:relative;
  overflow:hidden;
  border-radius:8px;
  cursor:pointer;
}

.card:before{
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  opacity: 0.3;
  background-color:#85233E;
  transform:scaleY(1);
  transition:all 0.7s;
  transform-origin: bottom
}

.card:after{
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color: #85233E;
  transform:scaleY(0);
  transition:all 0.7s;
  transform-origin: bottom
}

.name-menu{
  border-bottom: 1px solid #eeeeee;
  width: 80%;
  margin-bottom: 15px;
}

.card:hover::after{
  transform:scaleY(1);
}

.avatar{
  background: #1466C6;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  margin: 0 30px 15px 0;
  color: white;
  font-size: 34px;
  text-transform: uppercase;
}

.text-center{
  min-width: 40%;
  margin: 0 0 0 20px;
}

h3{
  border-bottom: 1px solid #eeeeee;
  width: 80%;
}

.fonts{
  font-size:11px;
}

.text-content{
  margin: 0 0 8px;
}

.text-content a{
  font-size: 14px;
  color: white;
  background: #1466C6;
}

ul{
  list-style:none;
  padding: 0;
  border-bottom: 1px solid #eeeeee;
  width: 80%;
}

ul li{
  font-size:13px;
  display: flex;
  align-items: center;
  padding: 3px;
}

li a{
  margin-left: 25px;
  font-size: 14px;
  color: #1466C6;
  text-decoration: none;
}

li a:hover{
  text-decoration: underline;
}

img{
  width: 25px;
  height: 25px;
}

.buttons button:nth-child(1){
  border: 1px solid #85233E !important;
  color:#85233E;
  height:40px;
  border-radius: 40px;
}

.buttons button:nth-child(1):hover{
  border:1px solid #85233E !important;
  color:#fff;
  height:40px;
  background-color:#85233E;
}

.buttons button:nth-child(2){
  border:1px solid #85233E !important;
  background-color:#85233E;
  color:#fff;
  height:40px;
}

.aboutMe{
  line-height: 2.5;
  opacity: 0.8;
  display: inline-block;
}
