.main {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  min-height: calc(100vh - 145px);
}

.nav {
  width: 18rem;
  margin-right: 50px;
  padding: 40px 10px;
  background-color: #FCFCFC;
}

mat-nav-list a{
  color: #85233E;
  font-size: 14px;
  border-radius: 5px;
}

.sidebar_icon{
  text-align: center;
  background: #E6B1A8;
  border-radius: 10px;
  width: 93%;
  margin: 0 auto 20px;
  opacity: 0.7;
}

.school{
  font-size: 3.8rem;
  width: 4rem;
}

.addBtn {
  padding: 3px 30px;
  border-radius: 7px;
  border: 1px solid #85233E;
  color: #85233E;
  margin: 0 0 0 13px;
  width: 55%;
}

.addBtn span{
  margin-bottom: 5px;
}

.mat-list-icon {
  margin-right: 12px;
}



