<div class="container">
  <div class="search-block">
    <div class="categories" (mouseenter)="show()" (mouseleave)="hide()">
      <a class="dropbtn">Категории</a>
      <div class="dropdown">
        <div class="categories-content">
          <div fxLayout="row" fxLayoutAlign="space-between center"
               *ngFor="let category of categoriesArray"
               [ngClass]="{'link-cat-hover': category._id === selectedCategory, linkCat: true}"
               (mouseenter)="showSub(category._id)">
            <a
              [ngClass]="{'link-cat-hover': category._id === selectedCategory, routeLinks: true}"
              [routerLink]="['category', category._id]">
              {{ category.title }}
            </a>

            <div fxLayout="row">
              <span class="material-icons edit-ic" *appHasRoles="['admin']"
                    (click)="deleteCategory(category._id)">clear</span>&nbsp;
              <span class="material-icons edit-ic" *appHasRoles="['admin']"
                    [routerLink]="['/edit-category', category._id]"
              >edit</span>
            </div>

            <span class="material-icons chevron-icon">chevron_right</span>
          </div>
          <div *appHasRoles="['admin']" class="add-btn">
            <a mat-raised-button color="primary" routerLink="/add-category">
            <span class="material-icons">
                add
              </span>
            </a>
          </div>
        </div>
        <div class="subcategories-content" (mouseleave)="hideSub()">
          <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let subcategory of subCategoriesArr"
               [ngClass]="{'link-cat-hover': subcategory._id === selectedSubCategory, linkCat: true}"
               (mouseover)="selectSubCategory(subcategory._id)">
            <a
              [routerLink]="['subcategories', subcategory._id]"
              [ngClass]="{'link-cat-hover': subcategory._id === selectedSubCategory, routeLinks: true}">
              {{ subcategory.title }}
            </a>
            <div fxLayout="row">
              <span class="material-icons edit-ic" *appHasRoles="['admin']"
                    (click)="deleteSubcategory(subcategory._id)">clear</span>&nbsp;
              <span class="material-icons edit-ic" *appHasRoles="['admin']"
                    [routerLink]="['/edit-subcategory', subcategory._id]"
              >edit</span>
            </div>
          </div>

          <div *ngIf="subCategoriesArr.length">
            <div *appHasRoles="['admin']" class="add-btn">
              <a mat-raised-button color="primary" [routerLink]="['/add-subcategory/', selectedCategory]">
                <span class="material-icons">add</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <form (ngSubmit)="onSubmit()" #searchForm=ngForm class="form">
    <span class="material-icons search-icon">
        search
      </span>
      <input
        class="textInput"
        type="text"
        ngModel
        name="title"
        placeholder="Название курса или автора"
        #title
      />
      <div>
        <input
          class="checkboxInput"
          type="checkbox"
          ngModel
          name="is_free"
          id="is_free"
          #is_free
        />
        <label for="is_free">Бесплатные</label>
      </div>

      <ng-template #btn>
        <button
          [routerLink]="['/search']"
          [queryParams]="{ 'title': title.value, 'is_free': is_free.checked ? true : '' }"
          queryParamsHandling="merge"
          type="submit" class="btnSearch">Искать
        </button>
      </ng-template>
      <mat-progress-bar mode="indeterminate" *ngIf="(searchLoading | async) else btn"
                        style="width: 74px"></mat-progress-bar>
    </form>
  </div>

  <div class="content-main">
    <router-outlet></router-outlet>
  </div>
</div>
