.search-block {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 25px;
  margin: 16px 0 36px 0;
  background: #DADADA;
}

mat-option{
  padding: 3px;
  font-size: 13px;
}

.content-main {
  padding: 50px 0;
}

.dropbtn {
  position: relative;
  color: #111116;
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 63px;
  left: 0;
  z-index: 2;
  min-height: 580px;
  min-width: 290px;
  background: #FAFAFA;
  border-radius: 5px;
}

.categories-content, subcategories-content {
  display: flex;
  flex-direction: column;
  width: 290px;
}

.categories-content {
  border-right: 1px solid #8D8D8D;
}

.linkCat {
  display: flex;
  position: relative;
  width: 290px;
  height: 42px;
  padding: 13px 10px;
  border-radius: 5px;
}

.linkCat:hover {
  background: #6B0D24;
}

.linkCat:hover  .routeLinks{
  color: #FAFAFA;
}

.linkCat:hover  .chevron-icon{
  color: #FAFAFA;
}

.chevron-icon {
  display: block;
  width: 7.41px;
  height: 12px;
  position: absolute;
  top: 8px;
  right: 30px;
  color: #000000;
}

.routeLinks {
  display: block;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.routeLinks:hover {
  color: #FAFAFA;
}

.form {
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: 25px;
  position: relative;
}

.search-icon{
  display: block;
  width: 17.49px;
  height: 17.49px;
  position: absolute;
  left: 10px;
  right: 237.51px;
  top: 8px;
  bottom: 8.51px;
  color: #111111;
}

.textInput {
  box-sizing: border-box;
  width: 265px;
  height: 34px;
  border-radius: 4px;
  background: #fff;
  border: none;
}

.textInput::placeholder{
  padding: 3px 16px 3px 38px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #DADADA;
}

.checkboxInput {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkboxInput + label {
  box-sizing: border-box !important;
  margin-left: 475px;
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkboxInput + label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #6B0D24;
  border-radius: 0.25em;
  margin-right: 11px;
}

label {
  margin-right: 28.5px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: rgba(17, 17, 22, 0.87);
}

.checkboxInput:checked + label::before {
  content: url("src/assets/icons/cheked.png");
  background: #6B0D24 no-repeat center center;
  background-size: 50% 50%;
}

.btnSearch {
  width: 88px;
  height: 36px;
  padding: 6px 16px;
  margin-left: auto;
  background: #6B0D24;
  border: #6B0D24;
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
}
