.example-card {
  width: 20rem;
  height: 170px;
  border-radius: 25px;
  margin: 7px;
  position: relative;
}

.example-card mat-card-title {
  margin-top: 10px;
}

.example-card:hover {
  -webkit-box-shadow: 0 0 5px 2px lightgray;
  -moz-box-shadow: 0 0 5px 2px lightgray;
  box-shadow: 0 0 5px 2px lightgray;
}

.rating-img {
  height: 20px;
}

.course-image {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  position: absolute;
  right: 15px;
  top: 10px;
}

.course-content {
  position: absolute;
  bottom: 30px;
}

.price {
  position: absolute;
  bottom: 15px;
  font-size: 16px;
  font-weight: 500;
}

.container {
  width: 1250px;
  display: block;
  margin: 0 auto;
}

h1 {
  margin-left: 4rem;
  margin-top: 25px;
  font-size: 2.5rem;
}

.search-block {
  width: 52%;
  margin: 15px auto;
}

.search-block mat-form-field {
  width: 65%;
}

