<div class="content">
  <div class="left-side">
    <h2>Контактные данные</h2>
    <p>Если у вас есть вопросы или предложения по поводу сотрудничества напишите нам: </p>

    <ul>
      <li>
        <a><img src="assets/icons/line.png"><span class="link"> bilem.online@gmail.com</span></a>
      </li>
      <li><img src="assets/icons/phone.png" alt="phone"><span class="link"> 996 (556) 73 13 93</span></li>
      <li>
        <a href="https://instagram.com" target="_blank"><img src="assets/icons/instagram-footer-icon.png"><span class="link"> bilem.online</span></a>
      </li>
      <li>
        <a href="https://web.telegram.org" target="_blank"><img src="assets/icons/telegram-footer-icon.png"><span class="link"> bilem.online</span></a>
      </li>
      <li>
        <a href="https://facebook.com" target="_blank"><img src="assets/icons/fb-footer-icon.png"><span class="link"> bilem.online</span></a>
      </li>
    </ul>
  </div>
  <div class="right-side">
    <h3>Отправьте нам сообщение</h3>

    <form>
      <div>
        <span class="label">Ваше имя</span>
        <mat-form-field appearance="outline" hideRequiredMarker="true" class="authFormsInputText">
          <input class="text" type="text" name="name" required matInput ngModel #name="ngModel"
          />
        </mat-form-field>
      </div>

      <div>
        <span class="label">Email адрес</span>
        <mat-form-field appearance="outline" hideRequiredMarker="true" class="authFormsInputText">
          <input type="email" name="email" autocomplete="username" email required matInput ngModel #email="ngModel"/>
        </mat-form-field>
      </div>

      <div class="telephoneInput">
        <span class="label">Телефон номера (для обратной связи)</span>
        <mat-form-field appearance="outline" hideRequiredMarker="true" class="authFormsInputText">
          <input name="number" required matInput ngModel #telephone="ngModel"/>
        </mat-form-field>
      </div>

      <div class="textInput">
        <span class="label">Сообщение</span>
        <mat-form-field appearance="outline" hideRequiredMarker="true" class="authFormsInputText">
          <textarea type="text" name="text" required matInput ngModel #text="ngModel"></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>

