<div class="container">
  <div class="content">
    <div class="left-side">
      <div class="address details">
        <i class="fas fa-map-marker-alt"></i>
        <div class="topic">Адрес</div>
        <div class="text-one">Тыныстанова, 122</div>
        <div class="text-two">Токтогула, 125/1</div>
      </div>
      <div class="phone details">
        <i class="fas fa-phone-alt"></i>
        <div class="topic">Телефон</div>
        <div class="text-one">+996 550 382319</div>
        <div class="text-two">+996 770 362514</div>
      </div>
      <div class="email details">
        <i class="fas fa-envelope"></i>
        <div class="topic">Email</div>
        <div class="text-one">bilem@gmail.com</div>
        <div class="text-two">info.bilem@gmail.com</div>
      </div>
    </div>
    <div class="right-side">
      <div class="topic-text">Отправьте нам сообщение</div>
      <p>Если у вас есть вопросы/предложения касательно работы сайта.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Введите свое имя">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Введите свой e-mail">
        </div>
        <div class="input-box message-box">

        </div>
        <div class="button">
          <input type="button" value="Отправить" >
        </div>
      </form>
    </div>
  </div>
</div>
