node_modules
.idea/
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/2.jpg
!public/uploads/1590690600-front-end-back-end-1080x608.png
!public/uploads/bitcoin.jpeg
!public/uploads/hai.jpeg
!public/uploads/javascript.jpeg
!public/uploads/javaSpring-introduction.png
!public/uploads/jsWork.png
!public/uploads/overview-thirdparty-web.png
!public/uploads/portfel3.jpg
!public/uploads/portfel4.jpg
!public/uploads/pravila-dizaina-3-2.jpg
!public/uploads/progressi.jpeg
!public/uploads/spring-overview.png
!public/uploads/traid.jpeg
!public/uploads/ux.jpg
!public/uploads/интерьер.jpeg