.main {
  text-align: center;
}

.title{
  margin: 2rem auto 2rem;
}

.box mat-card{
  margin: 20px;
  padding: 40px;
  width: 35%;
}

.btn{
  padding: 5px 25px;
}

mat-card{
  width: 15rem;
}

mat-card:hover{
  box-shadow: 0 0 5px 2px lightgray;
}

mat-card mat-card-title{
  margin: 0 0 30px;
}

mat-card div{
  margin: 20px 0
}

.addBtn{
  background: #85233E;
  color: white;
}
