<div class="main">
  <div class="title">
    <h1>
      Создайте любые онлайн-курсы на конструкторе Bilem
    </h1>
    <button class="btn" mat-raised-button (click)="showFreeCards()">Создать курс</button>
  </div>

  <div class="box" *ngIf="showCard === true">
    <mat-card class="buildCourse" routerLink="/teaching/editCourse" (click)="addPaidCourse()">
      <mat-card-title>
        Платный курс
      </mat-card-title>
      <hr>
      <div>
        Создать платный курс
      </div>
      <button mat-raised-button class="addBtn">
      <span class="material-icons" style="margin-right: 10px">
        add
      </span>
        Создать <span class="courseTxt">платный курс</span>
      </button>
    </mat-card>

    <mat-card class="buildCourse" routerLink="/teaching/editCourse" (click)="addFreeCourse()">
      <mat-card-title>
        Бесплатный курс
      </mat-card-title>
      <hr>
      <div>
        Создать бесплатный курс
      </div>
      <button mat-raised-button class="addBtn">
      <span class="material-icons" style="margin-right: 10px">
        add
      </span>
        Создать <span class="courseTxt">бесплатный курс</span>
      </button>
    </mat-card>
  </div>
</div>
